* {
    box-sizing: border-box;
}
header {
    background-color: rgb(13, 13, 107);
    color: rgb(255, 255, 255);
    height: 20%;
    margin-bottom: 2px;
}
h1{
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 500;
}
.list-group-item-primary {
    color:#000a14;
    background-color: #bed4ed;
}
p {
    margin-top: 0px;
    margin-bottom: 3rem;
}
.btn{
    color: blue;
}
.row{
    background-color: lightcyan;
}
.searchCol {
    background-color: rgb(187, 255, 255);
    padding-right: 0rem;
    margin-right: 1rem;
    margin-left: 1rem;

}
body {
    margin: 0;
    font-size: 1.2rem;
    /* font-weight: 400; */
    line-height: 1.5;
    color: #212529;
    text-align: center;
    font-family: monospace;
    background-color: #fff;
}
.card {
    width: 100;
    height: auto;

}
.card-body{
    background-color:rgb(184 203 255);
    height: fit-content;
}
.text-muted {
    color: #fdfdfd!important;
}
footer {
    text-align: center;
    background-color:rgb(13, 13, 107);
    color: white;
    width: 100%;
    position: sticky;
    margin-bottom: 1px;
}
.favorable{
    border-radius: 5px;
    background-color: rgb(23, 246, 23);
    padding: 5px;
    color: white;
}
.moderate{
    border-radius: 6px;
    background-color: orange;
    padding: 5px;
    color: black;
}
.severe{
    border-radius: 6px;
    background-color: red;
    padding: 5px;
    color: white;
}

/* For desktop: */
.col-3 {width: 25%;}
.col-9 {width: 75%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
    .col-3 
    .col-9 {
        width: 100%;
    }
}
